<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMACC_CEBU_LIBRARY_SYSTEM.Properties.Settings.db_librarysystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db_librarysystem.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>